{% extends 'base.html.twig' %}

{% block body %}
    <!doctype html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
    <section>
        {#{% for liste in list %}#}
            {#{{ liste.name }}#}
        {#{% endfor %}#}

        {#{{ response }}#}
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $.ajax({
            url: "/ajax",
            dataType : 'json',
            success: function(data){
                console.log(data);
            }
        }).done(function(data) {
            data = $.parseJSON(data);
            console.log(data);
        });
        {# TODO: Render Data From Json (var => data) To View #}
    </script>
    </body>
    </html>

{% endblock %}


