/* ==========================================================================
  VARIABLES
/* ========================================================================== */

/*breakpoints*/
$breakPointMobile: 550px;
$breakPointTablet: 768px;
$breakPointDesktop: 1024px;
$breakPointMaxDesktop : 1440px;

/* fonts */



/* colors */
$black: #000000;
$white: #fff;
$darkViolet: #7655A0;
$darkGrey: #9D98A4;
