/* ==========================================================================
  VARIABLES
/* ========================================================================== */

/*breakpoints*/
$breakPointMobile: 550px;
$breakPointTablet: 768px;
$breakPointDesktop: 1024px;
$breakPointMaxDesktop : 1440px;

/* fonts */


/* colors */
$black: #000000;
$white: #fff;
